.titulo {
	background-color: $background-color_3;
	color: $color_6;
	text-align: center;
	padding: 5px;
	font-weight: bold;
	margin: 20px;
              }
               h1 {
	           background-color: $background-color_3;
	           color: $color_6;
	           text-align: center;
	           padding: 5px;
	           font-weight: bold;
	           margin: 20px;
                               }
                        
                               h2 {
	                           background-color: $background-color_3;
	                            color: $color_6;
	                            text-align: center;
	                            padding: 5px;
	                            font-weight: bold;
	                           margin: 20px;
                                                  }