@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Frank+Ruhl+Libre:wght@400;500;600&display=swap');
$color_1: yellow;
$color_2: rgb(59, 50, 50);
$color_3: rgb(20, 19, 19);
$color_4: var(black);
$color_5: white;
$color_6: rgb(253, 248, 248);
$color_7: #fffefe;
$color_8: whitesmoke;
$background-color_1: #181a1a;
$background-color_2: #800909;
$background-color_3: rgb(163, 13, 13);
$background-color_4: rgba(179, 17, 17, 0.801);
$background-color_5: black;